header {
  background: lightgray;
  border-bottom: black;
  display: block;
  height: 3.08rem;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav {
   margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 20px auto;
  padding: 0;
}
nav ul li {
  display: inline;
}

.nav-left {
  float: left;
}


.nav-right {
  float: right;
}
