nav {
	height: 75px;
	flex-direction: row;
	justify-content: flex-end;
}

nav ul li {
	list-style: none;
}

nav > ul > li {
	color: white;
	font-size: 24px;
	padding: 15px 40px 0 0;
	text-shadow: .5px .5px black;
}

nav > ul > li > a {
	color: white;
}

.hamburger {
	display: none;
}

.dropdown {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

/*@media screen and (max-width: 920px) {
	nav {
		justify-content: center;
	}
}*/

@media screen and (max-width: 640px) {

	/*nav {
		display: block;
	}*/
	.hamburger{
		display: flex;
	  width: 100%;
	  background: black;
	  font-family: 'Inconsolata', sans-serif;
		justify-content: center;
	 }

	.navicon{
	  font-size: 25px;
	  margin: 5px 15px;
	  color: seashell;
	 }

	.dropdown{
		display: flex;
	  padding-left: 0;
	  margin: 0;
	  list-style: none;
	  display: none;
	 }

	.dropdown li{
	  font-size: 16px;
	  padding: 15px;
	  width: 100%;
	  background: black;
	  border-bottom: 1px solid black;
	}

	.dropdown li:last-child{
	  border-bottom: none;
	 }

	.dropdown a:hover{
	  background: black;
	 }
}
