nav {
  border-radius: 0 !important;
}

@media only screen
and (max-device-width : 575px) {
  #nav {
  height: 10%;
}


/*#nav {
  background: lightgray;
  border-bottom: black;
  float: left;
  height: 3.08rem;
  margin: 2% 0 0 15%;
  padding: 0;
  width: 50%;
}

nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
}

.nav-left {
  float: left;
  padding-left: 50px;
}


.nav-right {
  float: right;
  margin: 0;
  padding-right: 50px;
}*/
