@import url("header.css");



html {
  font-family: sans-serif;
}


body {
	background: #6190E8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #A7BFE8, #6190E8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 100%;
  margin: 0 auto;
	width: 100%;
}

.jumbotron {
  height: 32rem;
  margin: 6% auto 0 auto;
  padding: 2% 0;
  text-align: center;
  width: 60%;
}

.btn-primary {
  color: inherit;
}

@media only screen
and (max-device-width : 575px) {
  .jumbotron {
  height: 5%
  margin: 0;
  padding: 2% 0;
  text-align: center;
  width: 100%;
}

}

.sidebar {
  background: #eee;
  clear: left;
  float: left;
  height: 40%;
  margin: 2% 0 0 2%;
}

@media only screen
and (max-device-width : 575px) {
  .sidebar {
  display: none;
}

.sidebar-tabs {
  border-bottom: 2px solid red;
  float: left;
  margin-left: 0;
  -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.sidebar-tabs li {
  font-size: 1rem;
  display: inline;
}

/*.sidebar-tabs li:(odd) {
  display: inline;
  margin-left: 2px;
}*/

#clearleft {
  clear: left;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#content {
  float: left;
	height: 80%;
	margin: 2% 0 0 2%;
  width: 69%;
}

/*.flex-row {
	display: flex;
	flex-flow: row wrap;
	height: 100%;
	margin: 0;
	padding: 0;
}*/

.project {
	height: 30%;
	width: 32%;
}

@media only screen
and (max-device-width : 575px) {
  #content {
    float: left;
  	height: 80%;
  	margin: 0;
    width: 100%;
  }
  .project{
  height: 30%;
  width: 100%;
}
}
.btn {
  background: #eee;
  margin: 2% 0;
}

.btn {
  justify-content: center;
}

.project a {
	height: 20%;
	width: 20%;
}

img {
	height: 100%;
	width: 100%;
}
